.sidebar
    .sidebarItem
        .sidebarTitle
            h3 Recents Tweets
        .imageBox
            a(href='https://twitter.com')
                img(src='/img/tweet.png' alt='')
    .sidebarItem
        .sidebarTitle
            h3  Facebook Page
        .imageBox
            a(href='https://facebook.com')
                img(src='/img/facebook.jpg' alt='')
    .sidebarItem
        .sidebarTitle
            h3  Follow Us
        .sidebarSocial
            a(href='https://twitter.com')
                i.sidebarMedia.fab.fa-twitter-square
            a(href='https://linkedin.com')
                i.sidebarMedia.fab.fa-linkedin
            a(href='https://facebook.com')
                i.sidebarMedia.fab.fa-facebook
            a(href='https://youtube.com')
                i.sidebarMedia.fab.fa-youtube