extends base

block content 
    header
        .cover
            .slogan
                h2 Who we are and What we do
        .about-container
            section.imgBox
                img(src='https://images.pexels.com/photos/3182812/pexels-photo-3182812.jpeg?cs=srgb&dl=pexels-fauxels-3182812.jpg&fm=jpg' alt='About-us')
            section
                .about
                    p
                        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio eaque sapiente iure ipsum 
                        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio eaque sapiente iure ipsum 
                        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio eaque sapiente iure ipsum 
                        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio eaque sapiente iure ipsum 
                        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio eaque sapiente iure ipsum 
                        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio eaque sapiente iure ipsum 

    
                        