extends base

block content 
    .blogContainer 
        h2 Welcome to Our blog 📔
        .blogBox
            .blogContent
                include components/_post
            include components/_sidebar
