include components/_bannerHome
//- EVENTS & SIDEBAR
.events
    h2.title Upcoming Events
    .events-container 
        .events-all
            include components/_events
        include components/_sidebar